ctOS.project
test/rdimage*
bin/ramdisk.img
bin/efiimage
bin/hdimage
bin/iso/ramdisk.img
bin/cdimage.iso
bin/hdimage.vdi
**/*.o
**/.a
**/ctOSkernel
**/ctOS.bin.tar.gz
**/testfile.src
test/testfile
bin/import/*
